:root{
    --background: #161616;
    --primary-button: #CB7006;
    --secondary-button: #161616;
    --terrytory-button: transparent;
    --text-color: #fff;
    --title-size: 2.5rem;
    --text-size: 1.125rem;

}